
extends layout

block content
  h1 Update Book

  form(action=`/books/${book.id}`, method='post')
    div.form-group
      label.label(for='title') Title:
      input.form-control(type='text', id='title', name='title', value=book.title, required)

    div.form-group
      label.label(for='author') Author:
      input.form-control(type='text', id='author', name='author', value=book.author, required)

    div.form-group
      label.label(for='genre') Genre:
      input.form-control(type='text', id='genre', name='genre', value=book.genre, required)

    div.form-group
      label.label(for='year') Year:
      input.form-control(type='text', id='year', name='year', value=book.year, required)

    button.btn.btn-primary(type='submit') Update Book

    button.btn.btn-danger(type='button')
      a(href='/books') Cancel

  form(action=`/books/${book.id}/delete`, method='post')
    button.btn.btn-danger(type='submit') Delete Book